<h1>
  <button (click)="left()"><</button>
  Hello {{customer.name}}
  <button (click)="right()">></button>
</h1>



<p><i>{{customer.name}} is at {{customer.address.street}}
in the {{customer.address.state}}
which is from {{customer.address.region}}
</i></p><br>
<input [value]="customer.name"><br>
<input [(ngModel)]="customer.name">

<label><input type="checkbox" [(ngModel)]="showAddress" >Show Address</label>
<div *ngIf="showAddress">
    <address-comp [address]="customer.address"></address-comp>
</div>
